nav{
  align-items: center;
  display: flex;

}
ul{
  display: inline;
}
li{
  margin: 0px 50px ;
  display: inline;
}
a{
  text-decoration: none;
  color: black;
  font-family: cursive;
 
}
a:hover{
  color: rgb(235, 8, 8);
  text-decoration:underline;
  text-decoration-color:red ;

  
}
.box{
  margin: 80px;
  width: 300px;
  justify-content: center;  
  padding: 20px;
}
h1{
  background-image: url();
  display: flex;
  justify-content: center;
  color: rgba(0, 131, 126, 0.651);
  align-items: center;
  text-transform: uppercase;
}
